<div class="jumbotron board">
  <div class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-primary reset" {{action "reset"}}>Reset</button>
  </div>

  <div class="row-container">
    {{ tack-square value=square[0] select="select" }}
    {{ tack-square value=square[1] select="select" }}
    {{ tack-square value=square[2] select="select" }}
  </div>
  <div class="row-container">
    {{ tack-square value=square[3] select="select" }}
    {{ tack-square value=square[4] select="select" }}
    {{ tack-square value=square[5] select="select" }}
  </div>
  <div class="row-container">
    {{ tack-square value=square[6] select="select" }}
    {{ tack-square value=square[7] select="select" }}
    {{ tack-square value=square[9] select="select" }}
  </div>

</div>
